@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 10px 0;
}

.txt {
  font-weight: 200;
  margin: 10px 0;
}

.sub {
  font-weight: bold;
  margin: 10px 0;
}

.menu__title {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

.menu__sub {
  text-transform: uppercase;
  font-weight: 200;
  padding-bottom: 10px;
  position: relative;
}

.menu__sub:before {
  content: "";
  position: absolute;
  width: 40px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99e2d0;
}

.agency-index {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
  max-width: 1440px;
  margin: auto;
}

/*Paramétrage de l'animation lors du chargement de la page d'accueil (accueil uniquement)*/
.loader_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderDisapear 1s ease both;
  animation-delay: 2.2s;
}

.loader_wrapper .loader {
  display: flex;
  flex-direction: row;
}

.loader_wrapper .loader .ball {
  width: 20px;
  height: 20px;
  margin: 0 8px;
  border-radius: 50%;
  transform: translate3d(0);
  animation: bounce 0.6s alternate forwards;
  animation-iteration-count: 3;
}

.loader_wrapper .loader .ball:nth-child(1) {
  background-color: #99e2d0;
}

.loader_wrapper .loader .ball:nth-child(2) {
  animation-delay: 0.2s;
  background-color: #ff79da;
}

.loader_wrapper .loader .ball:nth-child(3) {
  animation-delay: 0.4s;
  background-color: #9356dc;
}

@keyframes bounce {
  to {
    transform: translate3d(0, -30px, 0);
  }
}

@keyframes loaderDisapear {
  to {
    opacity: 0;
    z-index: -10;
  }
}

/* CSS de toute la partie restaurant + rajout récent hover lors du passage de la souris sur les restaurants*/
.restaurants {
  padding: 30px 20px;
}

.restaurants__boxes {
  display: grid;
  gap: 20px;
  padding: 20px 0;
}

@media screen and (min-width: 1024px) {
  .restaurants__boxes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.restaurants__box {
  border-radius: 20px;
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.restaurants__box:hover {
  transform: scale(1.02);
  transition-duration: 0.5s;
}

.restaurants__img-section {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  height: 175px;
}

.restaurants__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurants__info-section {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.restaurants__new {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #1b6150;
  background-color: #99e2d0;
  padding: 8px 10px;
}

/*Tout le code pour la partie Process/Fonctionnement*/
.process {
  padding: 30px 20px;
  background-color: #ffffff;
}

.process__boxes {
  display: grid;
  gap: 20px;
  padding: 20px 0 20px 15px;
}

@media screen and (min-width: 1024px) {
  .process__boxes {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.process__box {
  position: relative;
  border-radius: 20px;
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  height: 70px;
  padding-left: 40px;
  background-color: #f6f6f6;
  font-weight: 500;
  z-index: 1;
}

.process__box::after {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #e4d5f6;
  opacity: 0;
  transition: opacity 250ms;
}

.process__box:hover::after {
  opacity: 1;
}

.process__box:hover .process__icon {
  color: #9356dc;
}

.process__order {
  background-color: #9356dc;
  border-radius: 40px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  left: -15px;
}

.process__icon {
  color: #7e7e7e;
  width: 20px;
  transition: color 250ms;
}

/*Mise en forme de la partie localisation "Paris, Belleville"*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 15px;
}

.search__icon {
  margin-right: 20px;
}

.search__text {
  margin: 5px 0;
}

/* Mise en forme de la partie présentation, sous le header*/
.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 20px;
  background-color: #f6f6f6;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #ffffff;
}

.header__btn {
  position: absolute;
  left: 20px;
}

.footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
}

.footer__logo {
  margin: 10px 0;
}

.footer__logosvg {
  filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(196deg) brightness(109%) contrast(100%);
  height: 20px;
}

.footer__links {
  list-style-type: none;
  display: grid;
}

@media screen and (min-width: 768px) {
  .footer__links {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }
}

.footer__link {
  margin: 5px 0;
}

.footer__icon {
  margin-right: 20px;
  width: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  font-weight: bold;
}

/*nomenclature des coeurs de base, affichée sur page index et restaurants*/
.hearts {
  position: absolute;
  right: 20px;
  bottom: 35px;
  height: 25px;
  font-size: 30px;
  cursor: pointer;
}

.hearts :hover {
  opacity: 1;
  font-weight: bold;
  background: linear-gradient(184deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hearts :checked ~ .unchecked {
  display: none;
}

.hearts :checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

/* Placement coeur des pages restaurants*/
#heart {
  position: initial;
  margin-top: 20px;
}

/* animation coeur pour remplissage*/
.hearts input[type="checkbox"], .hearts .checked {
  display: none;
  animation: like 2s;
  animation-fill-mode: forwards;
  /* CSS specific to iOS devices - Not working*/
}

@supports (-webkit-touch-callout: none) {
  .hearts input[type="checkbox"], .hearts .checked {
    display: none;
    animation: like 2s;
    animation-fill-mode: forwards;
  }
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}

.btn {
  cursor: pointer;
  padding: 14px 20px;
  min-width: 190px;
  border-radius: 50px;
  border-width: 0px;
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  font-weight: 600;
  margin: 30px 0;
  transition: all 0.2s;
}

.btn:hover {
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.agency-restaurant {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
  max-width: 1440px;
  margin: auto;
}

.poster {
  height: 270px;
}

.poster__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  margin-top: -60px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 30px 20px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__content {
  display: grid;
  gap: 20px;
  padding: 20px 0;
}

@media screen and (min-width: 1024px) {
  .menu__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.menu__course {
  display: grid;
  gap: 20px;
  align-content: start;
}

.food {
  border-radius: 20px;
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 70px;
  background-color: #ffffff;
  overflow: hidden;
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  animation: appearance 800ms ease-out forwards;
  opacity: 0;
}

.food:nth-child(1) {
  animation-delay: 400ms;
}

.food:nth-child(2) {
  animation-delay: 800ms;
}

.food:nth-child(3) {
  animation-delay: 1200ms;
}

.food:nth-child(4) {
  animation-delay: 1600ms;
}

.food:nth-child(5) {
  animation-delay: 2000ms;
}

.food__description {
  margin: 0 20px;
  overflow: hidden;
}

.food__description .sub {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food__description .txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food__price {
  align-self: end;
  margin: 10px 0;
  font-weight: 600;
}

.food__check {
  background-color: #99e2d0;
  color: #ffffff;
  height: 100%;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  transition: all 400ms ease-in-out;
  transform: translateX(100%);
  /* CSS specific to iOS devices- Not Working */
}

@supports (-webkit-touch-callout: none) {
  .food__check {
    background-color: #99e2d0;
    color: #ffffff;
    height: 100%;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    transition: all 400ms ease-in-out;
    transform: translateX(100%);
  }
}

.food__icon {
  font-size: 1.5rem;
  transform: rotate(-360deg);
  transition: all 0.4s 100ms ease;
  opacity: 0;
}

.food:hover .food__check {
  width: 4rem;
  transform: translateX(0);
}

.food:hover .food__icon {
  transform: rotate(0);
  opacity: 1;
}

@keyframes appearance {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */