@mixin font-titles {
	font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

@mixin font-text {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

//"..." au lieu de dépassement de texte
@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

//grid auto
@mixin grid {
	display: grid;
	gap: 20px;
}

//centrer élément flex
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

//fonction pour paramétrage ombre
@mixin shadow($force: 0.1) {
	box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, $force);
}



//placement optimal image
@mixin img-max {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

//device responsive
@mixin responsive($device) {
	@media screen and (min-width: map-get($breakpoints, $device)) {
		@content;
	}
}

//pour éléments de type boxes
@mixin boxes {
	border-radius: 20px;
	@include shadow;
}
