/*nomenclature des coeurs de base, affichée sur page index et restaurants*/
.hearts {
	position: absolute;
	right: 20px;
	bottom: 35px;
	height: 25px;
	font-size: 30px;
	cursor: pointer;
  :hover {
    opacity: 1;
    font-weight: bold;
    background: linear-gradient(
      184deg,
      rgba(255, 121, 218, 1) 0%,
      rgba(147, 86, 220, 1) 100%
    );
	background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  & :checked ~ .unchecked {
  	display: none;
  }
  & :checked ~ .checked {
  	display: inline-block;
  	color: rgba(255, 255, 255, 0);
   }
      
}
/* Placement coeur des pages restaurants*/
#heart {
	position: initial;
	margin-top: 20px;
}
/* animation coeur pour remplissage*/
.hearts input[type="checkbox"], .hearts .checked {
  	display: none;
  	-webkit-animation: like 2s;
  	        animation: like 2s;
  	-webkit-animation-fill-mode: forwards;
  	        animation-fill-mode: forwards;
            transform: translate3d(0,0,0);
transform: translateY(0) rotate(0deg);
			transition: transform 5.5s ease-out;
            
}



@-webkit-keyframes like {
	0% { 
      opacity: 0;
  }

  50% { 
      background: linear-gradient(to bottom, #9356DC,#FF79DA);
      -webkit-background-clip: text;
    }
	
	100% { 
      background: linear-gradient(to bottom, #9356DC,#FF79DA);
      -webkit-background-clip: text;
  	}
  }



@keyframes like {
	0% { 
      opacity: 0;
  }

  50% { 
      background: linear-gradient(to bottom, #9356DC,#FF79DA);
      -webkit-background-clip: text;
    }
	
	100% { 
      background: linear-gradient(to bottom, #9356DC,#FF79DA);
      -webkit-background-clip: text;
  	}
  }